<main class="container">
  <%= link_to(sanitize("&larr; Back to humans"), humans_path, class: "btn btn--secondary") %>

  <div class="header">
    <h1>Edit Human</h1>
  </div>

  <%= render "form" %>
</main>

