<main class="container">
  <div class="header">
    <h1>Humans</h1>

    <%= link_to "Create a new human", new_human_path, class: "btn btn--primary" %>
  </div>

  <%= render @humans, dna: false %>
</main>
